#counter{
	width: 200px;
	height: 150px;
	text-align: center;
	background-color: #eee;
	margin:auto;
	border: 1px solid lightgrey;
}

#displayNumber{
	width: 150px;
	height: 20px;
	background-color: white;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid silver;
}
body{
	background-color: lightblue;
}